.AboutMe {
     display: flex;
     padding: 20px 30px;
     display: flex;
     flex-direction: column;
     align-items: start;
}

.AboutMe h3 {
     font-size: 40px;
}

.AboutMe p {
     font-size: large;
     font-weight: 400;
     text-align: start;
}