.LinkedinRedirect {
     background-color: #059BFF;
     background-image: url('/linkedin.gif');
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;

     filter: brightness(85%);
}